{% include 'header.html' %}

        <form action="#" method="post">
            <p>Sender:</p>
            <p><input type="text" name="sender"/></p>
            <p>Recipient:</p>
            <p><input type="text" name="recipient"/></p>
            <p>Pickup:</p>
            <p><input type="text" name="pickup"/></p>
            <p>Dropoff:</p>
            <p><input type="text" name="dropoff"/></p>
            <p>Weight:</p>
            <p><input type="number" step="0.01" name="weight"/></p>

            <p><input type="submit" value="submit"/></p>
        </form>
    </body>
</html>
